*{
    padding: 0;
    margin:auto;
    box-sizing: border-box;
}
body {
    height: 300vh;
}
html {
    font-family: Helvetica;
}

#logo_header {
    display: flex;
    justify-content:flex-end;


}
#main   {

}



#header {
    height: 51px;
    width: 100%;
    background-color:#ffffff;
    position: fixed;
    display: inline-block;

}
.input-group {
    width: 30%;
    height: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
#nav {
    list-style-type: none;
    background-color: #333;
}
.subnav {
    list-style-type: none;
    text-align:left;
    /*padding: 30px;*/

}
#nav > li {
    display: inline-block;
}
#nav li {

    position: relative;
}
#nav > li > a{
    text-transform: uppercase;  /* chữ hoa thành chữ thường */
    color: #fff;
}
#nav li a {

    text-decoration: none; /*gach chan*/
    line-height: 51px;
    padding:  0 15px;
    display: block;


}
#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {

    color: #000000;
    background-color: #ccc;

}
#nav .subnav {
    display: none;
    min-width: 250px; /* khi content dai ra thi no cung dai ra */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
#nav .subnav a {
    color: black;
    padding: 10px;
    line-height: 60px;
}
.product > button {
    /*box-shadow: 0 0 10px rgba(0,0,0.3);*/
    color: red;
    border-radius: 10px 10px 10px 10px;
    background-color:papayawhip;
    width: 50%;
    height: 30px;
    border: red;

}
.all-product {
    margin:80px 150px;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
#result{

    background:antiquewhite;
    border-radius: 12px 12px 12px 12px;


}


#slider {
    /*min-height: 500px;*/
    /*background-color: #333;*/

}

#content {

}
.f1 {
    background: blanchedalmond;
    color:black;
    text-align: center;




}



